.container {
  width: 100%;
  background-color: var(--secondary);
  padding: 12px;
  border-radius: 4px;
  box-shadow: var(--shadow_card);
  font-size: 14px;
  border-collapse: collapse;
  margin-bottom: var(--vertical_gap);
}

.timeStamp {
  color: var(--text_grey);
}

.container > tbody > tr > td {
  padding: 12px;
  border-bottom: 1px solid var(--text_grey_lighter);
}

.container > thead > tr > th {
  padding: 12px;
  border-bottom: 1px solid var(--text_grey_light);
}

.viewAction {
  color: var(--primary);
  font-weight: 500;
}

.contentTitle {
  background-color: #f1f2f3;
  border-radius: 9999px;
  padding: 4px 8px;
}
