.container {
  height: var(--header_footer_height);
  background-color: var(--secondary);
  display: grid;
  padding-inline: var(--container_padding_x);
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: var(--shadow_card);
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userAvatar {
  height: 32px;
  width: 32px;
  line-height: 0;
  border-radius: 50%;
  object-fit: cover;
}

.actionButtons {
  display: flex;
  align-items: center;
  gap: 8px;
}
