.overAll {
  height: 100%;
  background-color: var(--background_color);
}

.contentContainer {
  overflow: auto;
  height: 100%;
}

.homeContainer {
  padding-inline: var(--container_padding_x);
  /* height: calc(100% - 122px); */
  overflow: auto;
}
