/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/

html {
  height: 100%;
  background-color: #f8f9f9;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
li {
  all: unset;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  isolation: isolate;
  height: 100%;
  --primary: #3254ff;
  --secondary: #ffffff;
  --background_color: #f8f9f9;
  --container_padding_x: 100px;
  --vertical_gap: 32px;
  --header_footer_height: 66px;
  --shadow_card: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --text_grey: #767b8a;
  --text_grey_light: #b3b5bd;
  --text_grey_lighter: #e3e4e8;
}

th {
  text-align: left;
  font-weight: 400;
  color: var(--text_grey_light);
}

dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  width: min(90%, 1336px);
}

dialog::backdrop {
  background-color: rgba(128, 128, 128, 0.4);
}

button {
  all: unset;
}
